

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(236, 236, 255);
}

html, body {
    height: 100%;
}

/* a nivel general */

.form-login { 
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 25px;
    margin: auto;
    background-color: #E2E2E2;;
}


.form-login button {
    margin: 20px 0;
}


.my-title{
    color: rgb(62, 81, 141);
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    padding: 5px;
}



.form-check-input-my-check{
    float: none;
}



my-button {
    background-color: rgb(62, 81, 141)!important;
}


.bi-github {
    font-size: 55px;
    color: rgb(62, 81, 141);
}








